---
layout: archive
---

</style>
.img{
  position: relative; 
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/Lelia.png);
  background-size: cover;
  opacity: 0.5;
  }
  
body {
  background-image: url(/assets/images/Lelia.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255,255,255,0.75);
  background-blend-mode: lighten;
}

</style>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<br/>

{% include instagram.html username="apgunicamp" %}
